* {
    padding: 0;
    margin: 0;
}

nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 80px;
    background-color: rgb(151, 93, 82);
    position: fixed;
}

.barra_fija {
    margin-left: 7%;
    line-height: 5vh;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-cart-plus {
    font-size: 30px;
    margin-top: 30px;
    margin-left: 330px;
}

.contenedor-imagenes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.imagen-zapato {
    height: 350px;
    margin-top: 80px;
    width: 100%;
}

.contenedor1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(206, 154, 145);
    height: 80px;
}

.subtitulo {
    color: aliceblue;
}

.parrafo-1 {
    color: aliceblue;
    font-size: 25px;
}

#cards {
    background-color: white;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 100px 15%;


}

.cards-container {
    display: flex;
    justify-content: space-between;
    /* Esto distribuirá los elementos horizontalmente */
}

.cards {
    border: 3px solid rgb(150, 48, 90);
    background-color: rgb(242, 232, 225);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}

.imagen_card {
    margin-top: 15px;
    height: 300px;
    width: 300px;
}

.nombre_articulo {
    font-size: 20px;
    margin-top: 15px;
}

.precio {
    font-size: 20px;
    margin-top: 15px;
    font-family: cursive;
    font-weight: 100;
}

.boton_agregar {
    margin-top: 35px;
    margin-bottom: 15px;
    width: 40%;
    height: 15%;
    border-radius: 0.5vmax;
    background-color: rgb(192, 148, 130);
    border: none;
    color: white;
    font-weight: bold;
    padding: 8px;
    font-size: 18px;
}

/* Estilos generales para el modal */
.modal {
    display: none;
    /* Por defecto, el modal no se muestra */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Estilos para el contenido del modal */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
}

/* Estilos para el botón de cerrar el modal */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.imagen-carrito {
    width: 50px;
    /* ajusta el tamaño según tus necesidades */
    height: 50px;
    /* esto mantendrá la proporción original de la imagen */
}
#carrito-container {
    display: flex;
    flex-wrap: wrap; /* Esto permite que los elementos se envuelvan si no hay suficiente espacio en el ancho de la pantalla */
    justify-content: space-between; 
}
.carrito-item {
    width: 48%; /* Ancho de cada elemento del carrito, ajusta según sea necesario */
    margin-bottom: 10px; /* Espaciado inferior entre elementos */
    /* Otros estilos que desees agregar */
}