* {
    padding: 0;
    margin: 0;
}

nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 80px;
    background-color: rgb(151, 93, 82);
    position: fixed;
}

.barra_fija {
    margin-left: 7%;
    line-height: 5vh;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-cart-plus {
    font-size: 30px;
    margin-top: 30px;
    margin-left: 330px;
}

.contenedor-imagenes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.imagen-zapato {
    height: 350px;
    margin-top: 80px;
    width: 100%;
}

.contenedor1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(206, 154, 145);
    height: 80px;
}

.subtitulo {
    color: aliceblue;
}

.parrafo-1 {
    color: aliceblue;
    font-size: 25px;
}

#cards {
    background-color: white;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 100px 15%;


}

.cards-container {
    display: flex;
    justify-content: space-between;
    /* Esto distribuirá los elementos horizontalmente */
}

.cards {
    border: 3px solid rgb(150, 48, 90);
    background-color: rgb(242, 232, 225);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}

.imagen_card {
    margin-top: 15px;
    height: 300px;
    width: 300px;
}

.nombre_articulo {
    font-size: 20px;
    margin-top: 15px;
}

.precio {
    font-size: 20px;
    margin-top: 15px;
    font-family: cursive;
    font-weight: 100;
}

.boton_agregar {
    margin-top: 35px;
    margin-bottom: 15px;
    width: 40%;
    height: 15%;
    border-radius: 0.5vmax;
    background-color: rgb(192, 148, 130);
    border: none;
    color: white;
    font-weight: bold;
    padding: 8px;
    font-size: 18px;
}

.modal {
    display: none;
    overflow: auto;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: rgb(240, 232, 226);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.carrito-item {

    margin-bottom: 10px; 
}

.carrito-item {
    display: flex;
    border: 1px solid rgb(240, 232, 226);
    margin: 10px; 
    padding: 10px; 
}

.imagen-carrito {
    width: 50px; 
    height: 50px; 
    margin-right: 10px; 
}

.total-carrito {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}
#divBotonVaciarCarrito {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    background-color: aqua;
}

button {
    margin-left: 10px;
    background-color: rgb(206, 154, 145);
}
p{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.vaciar_carrito{
    margin-top: 35px;
    margin-bottom: 15px;
    width: 40%;
    height: 15%;
    border-radius: 0.5vmax;
    background-color: rgb(192, 148, 130);
    border: none;
    color: white;
    font-weight: bold;
    padding: 8px;
    font-size: 18px; 
}
@media(max-width: 1030px) {
    #cards{
        display: grid;
    grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width: 680px) {
    #cards{
        display: grid;
    grid-template-columns: repeat(1, 1fr);
    }
}