* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(237, 237, 209);
}

.padre {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 60% 40%;
}

.contenedor1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(237, 237, 209);
    height: 100vh;
}

.contenedor2 {
    background-color: rgb(237, 237, 209);
}

.turno {
    background-color:rgb(149, 146, 146);
    width: 70%;
    height: 550px;
    margin-top: 4px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.ticket {
    background-color:rgb(149, 146, 146);
    width: 40%;
    height: 80px;
    margin-top: 40px;
    border-radius: 5px;
}

.numero {
    background-color: rgb(233, 226, 215);
    height: 390px;
    width: 80%;
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.botones {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.boton {
    background-color: #90a1df;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 5px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    width: 45%;
    height: 60px;

}

.turnum {
    font-size: 300px;
}

.generar {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
}

.card {
    background-color: #ccc;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 10px;
    border-radius: 5px;
    height: 70px;
}

.aceptar,
.rechazar {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.rechazar {
    background-color: #f44336;
}

p {
    font-size: 30px;
}

.divcards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.boton_borar {
    background-color: #90a1df;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 5px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    width: 20%;
    height: 40px;
}

.borar {
    display: flex;
    justify-content: right;
}

.ticket {
    font-family: Arial, sans-serif;
    font-size: 35px;
    color: black;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 1500px) {
    .divcards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 1000px) {
    .divcards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .boton{
        font-size: 20px;
    }
    .ticket{
        font-size: 25px;
    }
}
@media (max-width: 880px) {
    .turnum{
        font-size: 200px; 
    }
}
@media (max-width: 600px) {
    .padre{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .contenedor1{
        height: 65vh;
    }
}
@media (max-width: 440px) {
    .turnum{
        font-size: 150px; 
    }

}
@media (max-width: 300px) {
    .boton{
        font-size: 15px;
    }
}
