* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(209, 188, 208);

}

.Contenedor {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.subcont1 {
    background: linear-gradient(to bottom, rgb(173, 31, 216), rgb(202, 123, 189), rgb(209, 188, 208));
    height: 200px;
    width: 100%;
    text-align: center;

}

.titulo {
    margin-top: 50px;
    font-size: 50px;
    font-weight: 10;
    color: rgb(36, 4, 39);
}

.subcont2 {
    background-color: rgb(232, 218, 240);
    height: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 2px solid rgb(218, 137, 207);
    border-radius: 10px;
    margin-top: 5px;
}

.bloque1 {
    display: flex;
    flex-direction: column;
}

.bloque2 {
    display: flex;
    flex-direction: column;
}

.subtitulo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.psubtitulo {
    font-size: 25px;
    color: rgb(133, 129, 129);
}

.nomgasto {
    margin-left: 50px;
    padding: 5px;
}

.editarnom {
    width: 80%;
    height: 35px;
    border-radius: 5px;
}

.boton {
    margin-left: 54px;
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: rgb(247, 144, 212);
    font-size: 15px;
    width: 15%;
    border-radius: 5px;
}

.presupuesto {
    background-color: rgb(148, 186, 241);
    height: 50px;
    width: 80%;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    align-items: center;
}

.restante {
    background-color: rgb(111, 231, 111);
    height: 50px;
    width: 80%;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.textolis {
    font-size: 20px;
    margin-left: 15px;
    font-weight: bold;
}

.cantidad {
    font-size: 20px;
    font-weight: bold;
}

.gasto {
    font-size: 20px;
    font-weight: bold;
}

.tarjetas-contenedor {
    background-color: rgb(222, 140, 238);
    margin: 40px;
    width: 60% ;
    border-radius: 6px;
}
.tarjeta p {
    font-size: 20px;
    width: 10%;
    margin: 7px;

}
.tarjeta{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.boton-borrar{
    margin-left: 54px;
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: rgb(247, 144, 212);
    font-size: 15px;
    width: 60%;
    border-radius: 5px;
    height: 50px;
}
@media(max-width: 1250px){
    .boton-borrar{
    margin-left:30px ;
    }
}
@media(max-width: 1100px){
    .boton{
        font-size: 10px;
    }
}
@media(max-width: 850px){
    .boton-borrar{
     margin-left: 0px;
    }
}
@media(max-width: 790px){
    .subcont2{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .presupuesto{
        margin-left: 50px;
    }
    .restante{
        margin-left: 50px;
    }
    .boton-borrar{
        margin:0px;
        font-size: 10px;
    }
}
@media(max-width: 400px){
    .Contenedor{
        display: flex;
        justify-content: left;
    }
}